*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: url(pexels-olly-3756681.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: aliceblue;
    box-shadow: 3px 3px 5px black;
}
nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav :hover{
    background-color:aliceblue;
    color: aqua;
}
nav li:first-child{
    margin-right: auto;
}